@media screen and (width > 48rem) {
  .toggleHideFormBtn {
    display: none;
  }
}

/* 
Warm color scheme:
  text: #33302C
  outer fieldset: #FAF6F0
  inner fieldset: #E3DAC9
*/

fieldset {
  border-radius: 10px;
  border: none;
  padding: 1rem;
}

.resumeFormSection {
  max-height: 100vh;
  max-height: 100dvh;
  width: min(100vw, 25rem);
  overflow-y: auto;
  .resumeDetailsForm {
    width: 100%;
  }
}

.resumeDetailsForm,
.labelInputGroup,
fieldset,
fieldset ol,
fieldset ul {
  display: flex;
  flex-flow: column nowrap;
}

.resumeDetailsForm {
  gap: 2.5rem;
  color: var(--charcoal-gray);

  /* 
  Each li child of the ol contain fieldsets with grouped inputs for
  work / education fields. These are dense fields that can be added often,
  and therefore need greater spacing between eachother.
  */
  fieldset ol {
    gap: 2rem;
  }

  /*
    .personalFields is only 4 standalone entries,
    and the ul is for the skills inputs.

    Because they're not contained in subsequent fieldsets and the data is minimal,
    they require less spacing so it doesn't look too akward
  */
  fieldset,
  fieldset ul {
    gap: 1.25rem;
  }
}

.personalFields,
.skillsFields,
.workExperienceFields,
.educationFields {
  background-color: var(--off-white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

details fieldset {
  background-color: #E3DAC9;
}

fieldset legend {
  color: var(--off-white);
  background-color: var(--charcoal-gray);
  padding: 0.4rem 0.2rem;
  border-radius: 5px;
  text-transform: uppercase;
}