@media screen and (width > 48rem) {
  .toggleHideFormBtn {
    display: none;
  }
}

/* 
Warm color scheme:
  text: #33302C
  outer fieldset: #FAF6F0
  inner fieldset: #E3DAC9
*/

fieldset {
  border-radius: 10px;
  border: none;
  padding: 1rem;
}

.resumeFormSection {
  max-height: 100vh;
  max-height: 100dvh;
  width: min(100vw, 25rem);
  overflow-y: auto;
  .resumeDetailsForm {
    width: 100%;
  }
}

details,
.resumeDetailsForm,
.labelInputGroup,
fieldset,
fieldset ol,
fieldset ul {
  display: flex;
  flex-flow: column nowrap;
}

.resumeDetailsForm {
  gap: 2.5rem;
  color: var(--charcoal-gray);

  /* 
  Each li child of the ol contain fieldsets with grouped inputs for
  work / education fields. These are dense fields that can be added often,
  and therefore need greater spacing between eachother.
  */
  fieldset ol {
    gap: 2rem;
  }

  /*
    .personalFields is only 4 standalone entries,
    and the ul is for the skills inputs.

    Because they're not contained in subsequent fieldsets and the data is minimal,
    they require less spacing so it doesn't look too akward
  */
  fieldset,
  fieldset ul {
    gap: 1.25rem;
  }
}

.personalFields,
.skillsFields,
.workExperienceFields,
.educationFields {
  background-color: var(--off-white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

details fieldset {
  background-color: #E3DAC9;
}

fieldset legend {
  color: var(--off-white);
  background-color: var(--charcoal-gray);
  padding: 0.4rem 0.2rem;
  border-radius: 5px;
  text-transform: uppercase;
  width: fit-content;
}

/* Details dropdown styling for Work and Education fields */
details {
  gap: 0.5em;
}

summary {
  /* Removes the triangle */
  list-style: none;
  display: grid;
  align-items: center;
  grid-template-columns:1fr auto auto;
  grid-template-areas: "label icon button";
  gap: 1em;
  cursor: pointer;

  &::after {
    content: "›";
    font-size: 1.5rem;
    transition: transform 0.2s ease;
    grid-area: icon;
  }
  &.removeEntryBtn {
    grid-area: button;
  }
}

details[open] summary::after {
  transform: rotate(90deg); 
}

summary::-webkit-details-marker {
  display: none;
}


/* input, label, button styling */
input, button {
  height: 2.5em;
}

input {
  padding-left: 0.3em;
}

textarea {
  field-sizing: content;
  resize: vertical;
  padding: 0.5em;
}

label, button {
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

input, textarea, button {
  border-radius: 8px;
  border: 1px solid var(--charcoal-gray);
  font-family: inherit;
}

input, textarea {
  outline: 2px solid transparent;
  font-size: 1rem;
  transition: outline-color 0.2s ease-out;
  &:focus-visible {
    outline-color: #2F5233;
  }
}

.labelInputGroup {
  width: 100%;
}

/* button styling */
button {
  padding: 0.2em 0.4em;
  background-color: rgb(227, 226, 226);
}

/* Positions the 'Remove Entry' buttons inline with the
input elements.

Grid is used because the label / inputs are separated from
the button via a div.*/
/* .skillsFields {
  li {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 0.5em;
    align-items: center;
  }
  .labelInputGroup {
    display: contents;
  }
  .labelInputGroup label {
    grid-column: 1 / -1;
  }
  .removeEntryBtn {
    position: static;
  }
} */

/* Flex implementation with the same visuas as the commented-out code above.
Needs to be tested in Firefox & Safari */
.skillsFields li {
  display: flex;
  flex-flow: row nowrap;
  align-items: last baseline;
  gap: 0.5em;
}

.removeEntryBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 2.5em;
  background-color: #DC2626;
  color: #ffffff;
  border: none;

  transition: 0.2s background-color ease-out;
  &:hover, &:focus-visible {
    background-color: #7a1212;
  }
  &:focus-visible {
    outline: 3px solid #0361e4af; /* High-visibility blue */
    outline-offset: 2px;        /* Spacing away from the button */
    box-shadow: 0 0 0 2px #fff; /* White buffer ring underneath */
  }
}