.multiLine {
  white-space: pre-line;
}

.resumeContainer {
  flex: 1;
  height: 100dvh;
  height: 100vh;
  align-content: center;
  padding: 0.2rem 0.4rem;
}

.resumeTemplate {
  background-color: white;
  width: 8.5in;
  height: 11in;
  zoom: var(--fit-scale);
}