html {
  overflow: hidden;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: auto;
  place-content: center;
}

/* When viewed on mobile screens, the form should overlay the resume template */
.sidebar {
  position: absolute;
  .resumeFormSection {
    margin-top: var(--header-height);
  }
}

.resumeFormSection, .resumeContainer {
  padding: 1rem 0.4rem;
}

/* And then on larger screens, they will be laid out side by side */
@media screen and (width > 48rem) {
  body {
    grid-template-columns: auto 1fr;
    grid-template-areas: "sidebar resume";
  }
  .sidebar {
    position: relative;
    grid-area: sidebar;
  }
  .resumeFormSection {
    margin-top: 0 !important;
  }
}