@font-face {
  font-family: "fira_sansregular";
  src: url("../src/assets/fonts/firasans-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fira_sansbold";
  src: url("./assets/fonts/firasans-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fira_sansmedium";
  src: url("./assets/fonts/firasans-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --off-white: #faf6f0;
  --dark-beige: #c9c2b3;
  --charcoal-gray: #33302c;
  --header-height: 3rem;
  --sidebar-width: min(100vw, 25rem);
  --button-height: 2.5rem;
  --tab-height: 1.75rem;
}

body {
  font-family:
    "fira_sansregular", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button {
  cursor: pointer;
  border: none;
  height: var(--button-height);
  padding: 0.2em 0.4em;
  transition: 0.2s background-color ease-out;
  &:focus-visible {
    outline: 3px solid #0361e4af; /* High-visibility blue */
    outline-offset: 2px; /* Spacing away from the button */
    box-shadow: 0 0 0 2px #fff; /* White buffer ring underneath */
  }
}

/* Hides certain elements so they do not take up space,
but still allows screen readers to access them */
.visuallyHidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

html {
  background-color: var(--dark-beige);
  scrollbar-color: var(--dark-beige) var(--charcoal-gray);
  &::-webkit-scrollbar-track {
    background-color: var(--charcoal-gray);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--dark-beige);
  }
}

#root {
  display: contents;
}

.hide {
  display: none;
}

li {
  list-style: none;
}

/* Prevents the user from breaking the horizontal layout with massive strings */
h1,
h2,
h3,
p,
summary,
textarea {
  overflow-wrap: anywhere;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media print {
  html {
    overflow: visible !important;
  }

  body {
    place-content: start !important;
  }

  .sidebar {
    display: none !important;
  }

  .resumeContainer,
  .resumeTemplate,
  body {
    padding: 0 !important;
    margin: 0 !important;
  }

  .resumeContainer {
    overflow: visible !important;
    max-height: none !important;
    min-height: fit-content !important;
  }
  .resumeTemplate {
    box-shadow: none !important;
    zoom: 1 !important;
    min-height: 0 !important;
  }
  @page {
    margin: 0.75in !important;
  }
}
