@font-face {
  font-family: 'fira_sansregular';
  src: url('../src/assets/fonts/firasans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sansbold';
  src: url('./assets/fonts/firasans-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fira_sansmedium';
  src: url('./assets/fonts/firasans-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --off-white: #FAF6F0;
  --charcoal-gray: #33302C;
}

body {
  font-family: 
    "fira_sansregular", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* Hides certain elements so they do not take up space,
but still allows screen readers to access them */
.visuallyHidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

html {
  background-color: #C9C2B3;
}

#root {
  display: contents;
}

/* Simple class that  */
.hide {
  visibility: hidden;
  pointer-events: none;
}

li {
  list-style: none;
}

@media print {
  .resumeFormSection {
    display: none !important;
  }

  .resumeContainer {
    padding: none !important;
  }
  .resumeTemplate {
    box-shadow: none !important;
    zoom: 1 !important;
    margin: 0 !important;
  }
  @page {
    margin: 0 !important;
  }
}